/* ROOT */
@font-face {
  font-family: euro;
  src: url(../fonts/euro/eurof35.ttf);
}
@font-face {
  font-family: lato;
  src: url(../fonts/lato/Lato-Light.ttf);
}

:root {
  --green: #58c93a;
  --dark-grey: #292929;
  --light-grey: #e1e0e0;
  --black: #1e1e1e;
  --white: #fff;
}

html {
  margin: 0;
  padding: 0;
  font-family: lato;
}
html * {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
button {
  background: #fff;
  cursor: pointer;
  border: none;
  font-size: 0.8rem;
}
button:focus {
  outline: none;
}
a {
  text-decoration: none;
}
/* screen */
.screen {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: rgb(98, 98, 98);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  cursor: pointer;
}
body.open .screen {
  opacity: 0.5;
  visibility: visible;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  background-color: var(--dark-grey);
  /* height: 130px; */
  box-shadow: inset 0 -6px 0 var(--black);
}
.head-top {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logo {
  font-family: euro;
  font-size: 40px;
}
.head-top {
  color: var(--white);
}
.logo .green-dot {
  color: var(--green);
}
.nav-item {
  color: var(--white);
  width: 130px;
  height: inherit;
  line-height: 130px;
  border-right: 1px solid #000;
  text-align: center;
  letter-spacing: 0.8px;
  font-weight: 700;
  transition: 0.3s;
}
.nav-top :first-child {
  border-left: 1px solid #000;
}
.active {
  color: #58c93a;
  box-shadow: inset 0 -6px 0 var(--green);
}

.menu-icon {
  display: none;
  background-color: inherit;
  font-size: 30px;
  color: var(--white);
}

/* MAIN */
main {
  border: 1px solid var(--light-grey);
}
/* post */
.content:first-child {
  margin-top: 80px;
}
.content {
  width: inherit;
  display: flex;
  margin-bottom: 80px;
}

/* post img */
.content-img {
  width: 100%;
  height: auto;
  flex: 1;
}
.content img {
  object-fit: cover;
  height: auto;
  max-width: 100%;
}

/* post info */
.content .content-info {
  height: auto;


  padding-left: 20px;
  flex: 1;
  margin-top: 0;
}

/* post info -text */
.content-info-text {

}
.content .content-info h2 {
  letter-spacing: 0.8px;
  margin: 0;
}

/* continue reading btn */
.article-btn {
  position: relative;
  height: 40px;
  width: fit-content;
  border-radius: 20px;
  border: 1px solid var(--dark-grey);
  text-align: left;
  padding: 0 20px;
  transition: all 0.6s;
}
.article-btn:hover {
  color: var(--green);
  border-color: var(--green);
  padding-right: 50px;
  /* cursor: pointer; */
}
.article-btn:hover::after {
  position: absolute;
  content: " →";
  right: 16px;
}

/* NAV-BOT */
.nav-bot {
  height: 75px;
  border: 1px solid var(--light-grey);
}
.nav-bot button {
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #818181;
  letter-spacing: 0.9px;
  margin: 0 20px;
  transition: color 0.3s;
}
.nav-bot button:hover {
  color: var(--green);
}

/* FOOTER */
footer {
  background-color: #f8f8f8;
  height: 315px;
}
/* social media buttons */
.social-media {
  width: 230px;
}
.social-media * {
  background: #e5e5e5;
  height: 40px;
  width: 40px;
  transition: color 0.3s;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  transition: 0.3s;
}
.facebook {
  background-image: url(../imgs/facebook.png);
}
.twitter {
  background-image: url(../imgs/twitter.png);
}
.behance {
  background-image: url(../imgs/behance.png);
}
.dribble:hover {
  background-image: url(../imgs/dribble.png);
}
.facebook:hover {
  background-color: #3b5998;
}
.twitter:hover {
  background-color: #1da1f2;
}
.behance:hover {
  background-color: #1769ff;
}
.dribble:hover {
  background-color: #444444;
  color: #fff;
}

/* HELPERS */

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 2%;
}
/* flex */
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.space-around {
  justify-content: space-around;
}

@media (max-width: 980px) {
  html {
    font-size: 0.85rem;
  }
  .container {
    max-width: 760px;
  }
}

@media (max-width: 760px) {
  /* nav bar */
  .menu-icon {
    display: block;
    float: right;
  }
  .nav-top {
    position: absolute;
    top: 45px;
    left:10%;
    /* margin-top: 670px; */
    flex-direction: column;
    width: 80%;
    z-index: 1;
    opacity: 0;
    display: none;
    transition: opacity 0.6s;
  }
  body.open .nav-top {
    opacity: 1;
    display: flex;
  }
  .nav-top .nav-item {
    width: 100%;
    border: none;
    color: var(--white);
    margin-top: 5px;
    text-align: center;
    background: rgba(100, 100, 100, 0.8);
  }
  .nav-top .nav-item:hover {
    color: var(--white);
    background-color: rgb(80, 80, 80);
  }
  /* list items */
  .content {
    flex-direction: column;
    height: fit-content;
  }
  .content-img img {
    /* margin: 0 auto; */
  }
  .content * {
    text-align: center;
  }
  .content-info-text {
    padding: 0 10%;
  }
  .article-btn {
    margin: 0 auto;
  }
}
